@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
/* Please feel free to change the colors if you want to. */

/* Primary Color: Default Purple */
$primary: rgb(174, 0, 255);
$primary-hover: rgb(152, 0, 223);

/* Secondary Color: Default Pink*/
$secondary: rgb(255, 0, 234);
$secondary-hover: rgb(223, 0, 204);

/* Information Color: Default Blue*/
$info: rgb(0, 110, 255);
$info-hover: rgb(0, 95, 219);

/* Success Color: Default Green*/
$success: rgb(0, 255, 0);
$success-hover: rgb(0, 225, 0);

/* Warning Color: Default Yellow*/
$warning: rgb(255, 208, 0);
$warning-hover: rgb(219, 179, 0);

/* Danger Color: Default Red*/
$danger: rgb(255, 0, 0);
$danger-hover: rgb(225, 0, 0);

/* Dark - Light */

$dark: #080808;
$light: #fffafa;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $dark;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: $light;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.navlinks {
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navlinks li a {
    transition: all 0.6 ease 0s;
}

.navlinks li a:hover {
    color: $secondary-hover;
}

button {
    padding: 9px 25px;
    background-color: $primary;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.6 ease 0s;
}

button:hover {
    background-color: $primary-hover;
}