doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='../../scss/navbar.scss')
header
  img.logo(src="https://raw.githubusercontent.com/vvTorpedo/Personal-Storage/main/img/logo.png", alt='logo')
  nav
    ul.navlinks
      li
        a(href='#') Services
      li
        a(href='#') Projects
      li
        a(href='#') About
  a.contact(href='#')
    button Contact
