doctype html
head

  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  style.
    @import url("https://fonts.googleapis.com/css?family=Montserrat:500");
    /* Please feel free to change the colors if you want to. */
    /* Primary Color: Default Purple */
    /* Secondary Color: Default Pink*/
    /* Information Color: Default Blue*/
    /* Success Color: Default Green*/
    /* Warning Color: Default Yellow*/
    /* Danger Color: Default Red*/
    /* Dark - Light */
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      background-color: #080808;
    }

    li, a, button {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: #fffafa;
      text-decoration: none;
    }

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 10%;
    }

    .logo {
      cursor: pointer;
    }

    .navlinks {
      list-style: none;
    }

    .navlinks li {
      display: inline-block;
      padding: 0px 20px;
    }

    .navlinks li a {
      transition: all 0.6 ease 0s;
    }

    .navlinks li a:hover {
      color: #df00cc;
    }

    button {
      padding: 9px 25px;
      background-color: #ae00ff;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      transition: all 0.6 ease 0s;
    }

    button:hover {
      background-color: #9800df;
    }

    /*# sourceMappingURL=output.css.map */

  
header
  img.logo(src="https://raw.githubusercontent.com/vvTorpedo/Personal-Storage/main/img/logo.png", alt='logo')
  nav
    ul.navlinks
      li
        a(href='#') Services
      li
        a(href='#') Projects
      li
        a(href='#') About
  a.contact(href='#')
    button Contact
