doctype 
html(lang="en")
    head

    body
        include includes/navbar.pug
        .jumbotron.text-center.bg-transparent.text-light
            h1.display-4 Bacon-N-Such
            p.lead Your all in one discord bot.
            a.btn.btn-outline.text-light(href='/invite') Invite
            hr
